<ion-view view-title="Home">

  <ion-content class="padding">

      <div>
          <div class="list row">
              <div class="col col-33 text-center">
                  <a class="item item-royal" style="height:75px;" href="#">
                      Nine Inch Nails Sanjay
                  </a>
              </div>
              <div class="col col-33 text-center">
                  <a class="item item-dark" style="height:75px;" href="#">
                      Item 2 test
                  </a>
              </div>
              <div class="col col-33 text-center">
                  <a class="item item-royal" style="height:75px;" href="#">
                      Item 44
                  </a>
              </div>
          </div>
      </div>

      <div class="list">

          <div class="item text-center">
              <button class="button icon-left ion-log-in button-calm">Login</button>
              <button class="button icon-left ion-person-add button-positive">Create Account</button>
          </div>
          <div class="item item-divider">
              Login with:
          </div>
          <div class="item text-center">
              <button class="button icon-left ion-social-facebook button-calm"> Facebook</button>
              <button class="button icon-left ion-social-google button-positive"> Google</button>
              <button class="button icon-left ion-social-twitter button-calm"> Twitter</button>
          </div>
          <div class="item text-center">
              <button class="button button-block button-calm"> No, Thanks, I will continue as Guest</button>
          </div>

      </div>

    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
